.designCardContainer{
    position: absolute;
    margin-top: 2vw;
    max-width: 40vw;
    left: 10vw;
}
.designCardTitle h1{
    font-size: 3.5vw;
    font-weight: 100;
}
.designCardImg{
    margin-top: 2vw;
    position: absolute;
    display: block;
    right:7vw;
}
.designCardImg img{
    width: 42vw;
    display: block;
    height: auto;
}