.features{
    padding-top: 2.4vw;
    margin-left: 20vw;
    margin-right: 10vw;
}

.featuresTitle{
    margin-left: -10vw;
    padding-bottom: 2vw;
    text-align: center;
}
.featuresTitle h1{
    font-weight: 100;
    font-size: 2.6vw;
}
.containerFeature{
    padding-top: 1vw;
    display: flex;
    flex-direction: row;
}

.featureItem{
    display: flex;
}
.itemInfo{
    width: 25.5vw;
    margin-left: 1vw;
}
.itemHeader h3{
    margin-top: 5px;
    font-size: 1.1vw;
    font-weight: 100;
}
.itemText p{
    color: grey;
    width: 17vw;
    margin: 0;
    margin-top: -12px;
    padding: 0;
}


.itemImage{
    contain: content;
    border: 2px solid #3D544D;
    background-color: #3D544D;
    width: 3vw;
    height: 3vw;
    border-radius: 1.3vw;
}

.itemImage img{
    position:relative;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    margin-top: 0.6vw;
    
}