.findCard{
    margin-top: 43vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.findCardContainer{
    position: absolute;
    margin-top: 5vw;
    max-width: 40vw;
    right: 6vw;
}
.findCardTitle h1{
    font-size: 3vw;
    font-weight: 100;
}
.findCardText{
    max-width: 37vw;
}
.findCardText p{
    margin-top: 1vw;
    font-size: 1.2vw;
    font-weight: 100;
    color: gray;
}
.findCardImg{
    margin-top: 2vw;
    position: absolute;
    display: block;
    left:10vw;
}
.findCardImg img{
    width: 42vw;
    display: block;
    height: auto;
}