/* Custom Wallet Button */
.mymultibutton {
  @apply bg-none text-greenbank-green hover:text-white hover:bg-greenbank-green !important;
  border: 2px solid rgb(42, 133, 0) !important;
  border-radius: 10vw !important;
}

/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;400;600&display=swap');

a {
  color: inherit;
  font-family: 'M PLUS 1', sans-serif ;
  text-decoration: none;
}

h1, h2, h3, h4, p, a {
  font-family: 'M PLUS 1', sans-serif !important;
}

h1 {
  font-family: 'M PLUS 1', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Next.js container */
#__next {
  width: 100%;
  min-height: 100vh;
}

