@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');




.main {
  padding-top:3.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bgWrap {
  top:0;
  position: absolute;

  width: 100vw;
  height: 343.5vw;
  overflow: hidden;
  right: 0;
  z-index: -1;
  object-fit: cover;
}
.bgWrap img{
  
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbarLogo{
  left: 10vw;
  position: absolute

}
.navbarButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbarButton a{
  @apply hover:text-greenbank-green !important;
  font-family: 'Montserrat', sans-serif;
  margin-left: 1vw;
  margin-right: 1vw;
  font-weight: 100;
  font-size: larger;
}

.walletButton{
  position: absolute;
  align-items: center;
  right: 10vw;
  display: flex;
}
